body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #491e57;
}

ul, p {
  margin: 0;
  padding: 0;
}

@media (max-width: 1400px) {
  body {
    height: 100vh;
  }
}